* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Ubuntu, Material Design Icons, JetBrainsMono Nerd Font, Iosevka Nerd Font;
  font-size: 14px;
}

/* rospine colorscheme */
@define-color base      #191724;
@define-color surface   #1f1d2e;
@define-color overlay   #26233a;
@define-color muted     #6e6a86;
@define-color subtle    #908caa;
@define-color text      #e0def4;
@define-color love      #eb6f92;
@define-color gold      #f6c177;
@define-color rose      #ebbcba;
@define-color pine      #31748f;
@define-color foam      #9ccfd8;
@define-color iris      #c4a7e7;
@define-color low       #21202e;
@define-color med       #403d52;
@define-color hi        #524f67;

window#waybar {
  background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.3;
}

#window {
}

.modules-left {
  background-color: @base;
  border-radius: 33px;
  margin: 16px 0px 0px 3px;
  padding: 3px 3px 6px 0px;
  color: @rose;
}
.modules-center {
  background-color: @base;
  border-radius: 33px;
  margin: 0px 0px 0px 3px;
  padding: 9px 0px 9px 0px;
}
#workspaces button.active {
  color: @gold;
}
.modules-right {
  background-color: @base;
  border-radius: 33px;
  margin: 0px 0px 16px 3px;
  padding: 13px 0px 13px 0px;
}
#tray {
}
#pulseaudio {
  color: @pine;
  font-size: 16;
  padding: 9px 0px 0px 0px;
}
#backlight {
  color:@rose;
  padding: 0px 0px 0px 3px;
}
#network {
  color: @iris;
  padding: 0px 6px 0px 0px;
}
#battery {
  color: @gold;
}
#clock {
  color: @love;
  padding: 9px 0px 0px 0px;
}
/* #custom-power-menu {
  color: @love;
  padding: 9px 3px 0px 0px;
} */
