/* rosepine theme */
@define-color highlight #403d52;
@define-color base1  #191724;
@define-color base2  #1f1d2e;
@define-color base3  #26233a;

*{
  font-family: Ubuntu;
}

#window {
  border-radius: 15px;
  border: 1px solid @highlight;
}
/*
#inner-box {
  padding: -35px 0px 0px 0px;
  background-color: @base2;
}
*/
#outer-box {
  padding: 15px;
  padding-top: -15px;
}

#text {
  color: #e0def4;
}

#entry {
}

#entry:selected {
}
